@description "adds a project specific README"
@tag "readme"
@tag "documentation"
editor AddReadme

@displayName "Project Name"
@description "Name of the new project"
@validInput "A valid GitHub project name, which has only alphanumeric, -, ., and _ characters, less than 22 characters"
@minLength 1
@maxLength 21
param project_name: @project_name

@displayName "Project Description"
@description "One-sentence description of the new project"
@validInput "A string 1-90 characters long"
@minLength 1
@maxLength 90
param description: @any

let readme = "readme.vm"
let readmeFilename = "README.md"

with Project
  do merge readme to readmeFilename
