scenario AddReadme should add README.md

let readme = "README.md"
let newName = "Harry"
let newDescription = "Boy Wizard"

given
  ArchiveRoot

when
  AddReadme project_name = newName, description = newDescription

then
  fileExists readme
	and fileContains readme newName
	and fileContains readme newDescription

scenario AddReadme should reject invalid value name parameter

given
  ArchiveRoot

when
  AddReadme project_name = "Harry Potter", description = "Boy Wizard"

then
  InvalidParameters

scenario AddReadme should reject missing parameter

given
  ArchiveRoot

when
  AddReadme description = "Boy Wizard"

then
  MissingParameters
